body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.chatBox {
  height: 500px;
  overflow-y: auto;
  background: #111827;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.msg {
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  max-width: 75%;
}

.msg.user {
  background: #2563eb;
  align-self: flex-end;
}

.msg.ai {
  background: #374151;
  align-self: flex-start;
}

.inputBox {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  background: #22c55e;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.dots {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}